body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

filter {
}