body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/******************   Navbar  Start    ******************************/
/*   Logo font   */
.logo{
    font-family: 'Lavishly Yours', cursive;
}
/* Navbar elements font  */
.font{
    font-family: 'Inter', sans-serif;
}
.navbar{
    background-color: rgba(200, 200, 200, 0.4);
}
/******************   Navbar  End    ******************************/


/******************   Testemonials Page  Start   ******************************/
.bg-image{
    background-image: url("../img/bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
@media (max-width: 430px)
{
    .media{
        font-size: medium;
        line-height: normal;
        margin:0 10px;

    }
    .media1{
        font-size: small;
        line-height: normal;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;

    }
    .grid-display{
        grid-template-columns:1fr;

    }
}
/******************   Testemonials Page  End   ******************************/

/******************   Footer  Start   ******************************/

.bg-footer{
    background-color: #AAD9F9;
    width: 100%;
}

.text-black{
    color: black;
}

@media screen and (max-width: 768px) {
    main {
        height: 2000px;
    }
}

@media screen and (max-width: 640px) {
    main {
        /* height: 4000px; */

    }
}
/******************   Footer  End   ******************************/

/************* Mobile menu block ************/

.mobile-menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 30%;
    background: #2599FB;
    display: none;
    flex-direction: column;
    padding: 1rem;
    z-index: 1000;
}

.mobile-menu a {
    display: block;
    padding: 0.5rem 0;
    color: white;
    font-weight: bold;
}

.mobile-menu.show {
    display: flex;
    align-items: center;
}




@media (max-width: 430px) {
    .process-img{
        height: 200px;
        width:350px;
    }
   .display{
       display: none;
   }
   .main{
       height: 200px;
   }


    .mobile-menu {
        position: absolute;
        top: 70px;
        right: 0;
        width: 30%;
        background: #2599FB;
        display: none;
        flex-direction: column;
        z-index: 1000;
    }

    .mobile-menu a {
        display: block;
        color: white;
        font-weight: bold;
        font-size: 10px;

    }

    .mobile-menu.show {
        display: flex;
        align-items: center;
    }

    .btn{
        padding: 10px 20px;
        font-size: 10px;
    }

}

@media (max-width: 769px) {

    .display1{
        display: none;
    }
    .main{
        height: 100px;
    }

    
}